html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  @apply text-black-300;
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-tight;
}

p {
  @apply leading-tight;
}

p > a,
span > a {
  @apply text-blue-500 hover:underline;
}

small, .text_small {font-size: 0.75rem;}