<section class="kk-block section px-4 {{ block.customClass }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container">
        <hr class="border-blue-100">
    </div>
</section>