{% extends "base.twig" %}

{% block content %}
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="mb-0 text-3xl font-bold text-purple-500">404</p>
            <h1 class="mt-0 text-3xl font-bold tracking-tight text-black-500">Coś poszło nie tak</h1>
            <p class="mt-6 text-base leading-7 text-black-400">Strona, której szukasz nie istnieje</p>
            <a href="{{ site.url }}" class="mt-8 text-white-500 inline-flex items-center bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-300 font-semibold rounded-lg text-sm xl:text-base px-5 py-2.5 text-center">Wróć na stronę główną</a>
        </div>
    </main>
{% endblock %}
