{% extends "base.twig" %}

{% block content %}

    {% embed 'partial/page-title.twig' %}
        {% block title %}
            <h1 class="mb-0 text-white-500">{{ title }}</h1>
        {% endblock %}
        {% block subtitle %}{% endblock %}
    {% endembed %}

    <div class="px-4 section lg:px-8">
        <div class="container py-20 xl:py-32">
            <div class="flex flex-col gap-12 lg:flex-row lg:justify-between lg:gap-16 xl:gap-36">

                <div class="flex flex-col gap-20 lg:w-8/12">
                    {% if posts|length > 0 %}
                        <div class="flex flex-col gap-20">
                            {% for post in posts %}
                                {% include 'partial/post-tease-blog.twig' %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-black-500">
                            <h3>Brak postów</h3>
                        </div>
                    {% endif %}

                    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
                </div>

                <div class="lg:w-4/12">
                    {% include 'sidebar.twig' %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
