<nav class="bg-white-500 mt-6 mb-16 md:mb-20 xl:mb-24 2xl:mb-20 px-6 lg:px-0 navbar {{ page == '404' ? 'hidden' : 'block' }}" x-data="{ open: false }" :class="open && 'active'">
    <div class="flex flex-wrap items-center justify-between mx-auto lg:container">
        {% include 'partial/brand.twig' %}
        {% include 'partial/hamburger.twig' %}
        <div class="hidden w-full lg:block lg:w-auto navbar__menu" id="navbar-default">
            {% include 'menu.twig' with {
                'items': main_menu.items
            } %}
        </div>
    </div>
</nav>
