{% if main_menu %}
    <ul class="font-semibold flex flex-col mt-4 lg:flex-row lg:space-x-6">
        {% for item in items %}
            <li class="{{ item.classes | join(' ') }}">
                <a target="{{ item.target }}" href="{{ item.link }}" class="block p-3 text-black-500 rounded hover:bg-orange-50 hover:text-orange-500 lg:hover:bg-transparent lg:border-0 lg:hover:text-orange-500 lg:p-0">{{ item.title }}</a>
                {% if item.children %}
                    {% include "menu.twig" with {'items': item.children} %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
