<div class="flex flex-col gap-6 bg-blue-50 rounded-lg p-8">

    <div>
        <p>Skorzystanie z formularza nie jest obowiązkowe – możesz zadzwonić lub napisać tradycyjny e-mail</p>
    </div>

    <div>
        <label for="contact-client-name" class="form__label">Imię</label>
        [text* client-name id:contact-client-name class:form__input placeholder "Wpisz swoje imię"]
    </div>

    <div>
        <label for="contact-client-email" class="form__label">Adres email</label>
        [email* client-email id:contact-client-email class:form__input placeholder "jan@kowalski.pl"]
    </div>

    <div>
        <label for="contact-client-phone" class="form__label">Numer telefonu</label>
        [tel* client-phone id:contact-client-phone class:form__input placeholder "+48 123 456 789"]
    </div>

    <div class="flex items-center">
        [acceptance acceptance-771 id:contact-default-checkbox class:form__checkbox ] Pani/Pana dane osobowe zawarte w zgłoszeniu będą przetwarzane zgodnie z polityką prywatności.[/acceptance]
    </div>

    <div class="flex items-center">
        [acceptance acceptance-772 id:contact-default-checkbox-2 class:form__checkbox ] Jestem zainteresowana/zainteresowany konsultacją dotyczącą upadłości konsumenckiej. Proszę o kontakt pod wskazany w zgłoszeniu adres e-mail lub numer telefonu w celu umówienia terminu spotkania w kancelarii.[/acceptance]
    </div>

    <div>
        [submit class:form__submit "Wyślij"]
    </div>

</div>