<div class="space-y-6 rounded-lg bg-blue-50 p-6 divide-y divide-blue-100 [&>*]:pt-6 [&>*:first-child]:pt-0 lg:bg-transparent lg:p-0">

    {% if showAuthorBio %}
        {% embed 'partial/sidebar-item.twig' %}
            {% block title %}O autorze{% endblock %}
            {% block content %}
                {% include 'partial/blog-author-bio.twig' %}
            {% endblock %}
        {% endembed %}
    {% endif %}
    
    {% if showLatest %}
        {% embed 'partial/sidebar-item.twig' %}
            {% block title %}Ostatnie wpisy{% endblock %}
            {% block content %}
                {% for post in recent_posts %}
                    {% include 'partial/post-tease-small.twig' %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% if showSearch %}
        {% embed 'partial/sidebar-item.twig' %}
            {% block title %}Szukaj{% endblock %}
            {% block content %}
                {% include 'searchform.twig' %}
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% if showCategories %}
        {% embed 'partial/sidebar-item.twig' %}
            {% block title %}Kategorie{% endblock %}
            {% block content %}
                <ul class="flex flex-col gap-6">
                    {% for category in categories %}
                        <li>
                            <a href="{{ category.link }}" class="flex w-full items-center justify-between group">
                                <span class="text-base font-semibold text-black-500 group-hover:text-blue-500 group-hover:underline">{{ category.title }}</span>
                                <span class="inline-block flex h-6 items-center rounded bg-blue-100 p-2 text-sm font-bold text-blue-500">
                                {{ category.count }}
                            </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endembed %}
    {% endif %}

</div>