<div class="flex flex-col gap-12 rounded-lg bg-blue-50 p-6 divide-y divide-blue-100 lg:bg-transparent lg:p-0">

    {% if showAuthorBio %}
        <div class="flex flex-col gap-8">
            <h4 class="text-lg font-extrabold text-black-500">O autorze</h4>
            <div class="flex flex-col gap-6">
                {% include 'partial/blog-author-bio.twig' %}
            </div>
        </div>
    {% endif %}
    
    {% if showLatest %}
    <div class="flex flex-col gap-8">
        <h4 class="text-lg font-extrabold text-black-500">Ostatnie wpisy</h4>
        <div class="flex flex-col gap-6">
            {% for post in recent_posts %}
                {% include 'partial/post-tease-small.twig' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if showSearch %}
    <div class="flex flex-col gap-8 pt-12">
        <h4 class="text-lg font-extrabold text-black-500">Szukaj</h4>
        <div>
            {% include 'searchform.twig' %}
        </div>
    </div>
    {% endif %}

    {% if showCategories %}
    <div class="flex flex-col gap-8 pt-12">
        <h4 class="text-lg font-extrabold text-black-500">Kategorie</h4>
        <div>
            <ul class="flex flex-col gap-6">
                {% for category in categories %}
                    <li>
                        <a href="{{ category.link }}" class="flex w-full items-center justify-between group">
                            <span class="text-base font-semibold text-black-500 group-hover:text-blue-500 group-hover:underline">{{ category.title }}</span>
                            <span class="inline-block flex h-6 items-center rounded bg-blue-100 p-2 text-sm font-bold text-blue-500">
                                {{ category.count }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

</div>