{% extends "base.twig" %}

{% block content %}
    <div class="px-4 section lg:px-8">
        <div class="container mt-4 border-t border-blue-100 py-12 xl:py-32 xl:pt-12">
            <div class="flex flex-col gap-12 lg:flex-row lg:justify-between lg:gap-16 xl:gap-36">

                <div class="flex flex-col gap-20 lg:w-8/12">

                    {% include 'partial/post-tease-single.twig' %}

                    <div class="w-full max-w-full prose prose-blue">
                        {{ filteredPostContent|raw }}
                    </div>
                </div>

                <div class="lg:w-4/12">
                    {% include 'sidebar.twig' %}
                </div>

            </div>
        </div>
    </div>

    {% if blockCta %}
        {{ blockCta|raw }}
    {% endif %}

    {% if blockContact %}
        {{ blockContact|raw }}
    {% endif %}

{% endblock %}
