<div
    x-data="{openAccordionItem: false}"
    @click.away="openAccordionItem = false"
    class="rounded-lg border border-solid p-6 group hover:text-blue-500"
    :class="openAccordionItem ? 'bg-blue-50 text-blue-500 border-blue-100' : 'bg-white-500 text-black-500 border-transparent'"
>
    <button
        @click.prevent="openAccordionItem = !openAccordionItem"
        class="flex w-full items-baseline justify-between gap-2 text-left text-base font-semibold"
    >
        <span class="leading-normal">{{ item.question }}</span>
        <div :class="openAccordionItem ? 'child:-rotate-180' : ''">
            {{ function('wpstarter_get_icon', 'icon-chevron-small') }}
        </div>
    </button>
    <div x-show="openAccordionItem" class="mt-6 border-t border-t-blue-100 pt-6 text-left border-t-solid">
        {{ item.answer }}
    </div>
</div>