<div class="mb-6 flex flex-col items-center justify-center gap-4 border-b border-solid border-blue-100 pt-2 pb-6 last:border-0 md:flex-row md:justify-start">
    <div>
        {{ function('wpstarter_get_icon', item.icon) }}
    </div>
    <div>
        {{ item.content }}
    </div>
</div>