<div class="space-y-4">

    {% if fields.author_bio.image %}
        {% include 'atoms/image.twig' with {
            'imageItem': fields.author_bio.image,
            'imageSize': 'image-480',
            'customClass': 'block h-auto max-w-full mb-4 w-[200px] h-[200px] rounded-lg'
        } %}
    {% endif %}
    
    {% if fields.author_bio.title or fields.author_bio.subtitle %}
        <div>
            {% if fields.author_bio.title %}
                <h3 class="text-base font-extrabold text-black-500 mb-0">{{ fields.author_bio.title }}</h3>
            {% endif %}
            {% if fields.author_bio.subtitle %}
                <h4 class="text-sm">{{ fields.author_bio.subtitle }}</h4>
            {% endif %}
        </div>
    {% endif %}

    {% if fields.author_bio.description %}
        <div class="[&>p]:text-sm [&>p]:mb-0">
            {{ fields.author_bio.description }}
        </div>
    {% endif %}
    
</div>