<a
        href="{{ site.url }}"
        class="flex items-center gap-4 {{ fixed_menu ? 'text-white-500' : 'text-purple-500' }} navbar__brand"
        :class="open ? 'text-white-500' : ''"
        aria-label="Przejdź do strony głównej"
>
    {{ function('wpstarter_get_icon', 'kl_logo-white') }}
</a>