<a
        href="{{ site.url }}"
        class="flex items-center gap-4 navbar__brand"
        aria-label="Przejdź do strony głównej"
>
    {{ function('wpstarter_get_icon', 'kl_logo-white') }}
</a>