<button class="lg:hidden relative navbar__hamburger" aria-label="Open menu" @click="open = !open">
    <div class="relative flex overflow-hidden items-center justify-center w-[50px] h-[50px] transform transition-all bg-white-500 duration-200">
        <div class="flex flex-col justify-around w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden">
            <span class="bg-purple-500 h-[2px] w-7 transform transition-all duration-300 origin-left span__item"></span>
            <span class="bg-purple-500 h-[2px] w-7 rounded transform transition-all duration-300 delay-75 span__item"></span>
            <span class="bg-purple-500 h-[2px] w-7 transform transition-all duration-300 origin-left delay-150 span__item"></span>

            <div class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 flex w-0 navbar__close">
                <span class="absolute bg-purple-500 h-[2px] w-5 transform transition-all duration-500 rotate-0 delay-200"></span>
                <span class="absolute bg-purple-500 h-[2px] w-5 transform transition-all duration-500 -rotate-0 delay-200"></span>
            </div>
        </div>
    </div>
</button>