<div class="flex flex-col gap-6">
    <h4 class="text-md lg:text-lg font-extrabold text-black-500">
        {% block title %}
        {% endblock %}
    </h4>
    <div class="flex flex-col gap-6">
        {% block content %}
        {% endblock %}
    </div>
</div>